* {
    box-sizing: border-box;
    margin: 0;
}

body{
    font-size: 13px;
}

#pattern{
    background-color: rgb(67, 126, 215);  
    background-image: url("../img/pattern.png");
    height: 80px;
    background-size: 300px;
}

#logo{
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    height: 40px;
    position: relative;
    top: 30px;
}

section, main, footer{
    padding: 4px;
}

h1{
    font-size: 30px;
}

.photos-tim, ul, table, h1, footer{
    margin-top: 15px;
}

.images-tim1{
    height: 300px;
    width: 400px;
    background-image: url('../img/tim-1.jpg');
    display: inline-block;
    background-size: cover;
}

.images-tim2{
    height: 300px;
    width: 400px;
    background-image: url('../img/tim-2.jpg');
    display: inline-block;
    background-position: center;
    background-size: cover;
}

.text-g{
    color: rgb(152, 160, 160);
    font-size: 14px;;
    font-weight: 600;
    margin-bottom: 4px;
}

.date{
    font-size: 11px;
    color: rgb(152, 160, 160);
}

#bibliography{
    font-size: 9px;
    font-weight: 600;
}


.selected-text{
    background-color: yellow;
}

ul{
    margin-left: -28px;
}

table{
    width: 100%;
    margin-bottom: 20px;
    font-size: 14px;
    border: 0px solid;
    border-spacing: 0;
}
.description-table{
    width: 50%;
}

thead{
    background-color: rgb(83, 167, 223);
    color: white;
    text-align: left;
}

.blu-row{
    background-color: rgb(189, 227, 240);
}

#monitor1{
    background-image: url('../img/monitor.jpg');
}

#monitor2{
    background-image: url('../img/graph.jpg');
}

.small-photos{
    width: 170px;
    height: 120px;
    font-size: 16px;
    color: white;
    padding-top: 6px;
    padding-left: 6px;
    background-size: contain;
    background-repeat: no-repeat;
    font-weight: 600;
}
